.banner {
	font-size:40px;
	padding:5px;
	text-align:center;
}

.mainColumn { 
	width: 800px;	
	background-color: rgba(0,0,0,.3);
	border:thin solid rgba(0,0,0,.6);
	margin-left:auto;
	margin-right:auto;
}

.nav {
	font-size:20px;
	text-shadow:0 1px 1px #EEE;
	background-color:rgba(0,0,0,.2);
	box-shadow: 1px 0 1px 1px #333;
	border-bottom: thin solid #333;
}
.nav > a {
	color: #EEE;
	text-shadow: 0 1px 2px #555;
	margin-right:-6px;
	padding:10px;
	display:inline-block;
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
}
.nav > a:hover {
	background-color:rgba(200,200,255,.8);
	color:#222;
	text-shadow: 0 1px 2px #EEE;
}

ul {
	list-style-type:none;
}

.sloganWrap {
	text-align:center;	
	padding-bottom:10px;	
}

.slogan { 
	margin:10px auto 10px auto;
	font-size: 30px;
	color:#EEE;
	text-shadow: 0 1px 2px #555;
	font-variant: small-caps;
}

.aboutContent {
	border-top: 0px solid transparent;
	border-left: 20px solid rgba(255, 0, 0, .5);
	border-bottom: 20px solid transparent;
	font-size:16px;
	padding:10px;
	text-shadow: 1px 1px 1px black;
	color:#EEE;
}

.information {
    -webkit-border-radius: 3px;
    -moz-border-radius:3px;
    padding:10px;
    margin: 10px 10px 10px 10px;
    width: 50%;
    font-size:19px;
    text-shadow: 0px 1px 2px #222;
    color:#EEE;
    border-top: 0px solid transparent;
	border-left: 20px solid rgba(255, 0, 0, .5);
	border-bottom: 20px solid transparent;
    display:inline-block;
    float:left;
    height:150px;
}
.infopic {
    float:left;
    height: 150px;
    width: 150px;
    margin:10px 10px 10px 0;
    background: url("../../images/catinfo.png") no-repeat;
    display:inline-block;
    padding:10px;
    background-position: 20px;
}
