{% extends "structure/base_employee.html" %}

{% block css %}
	@import url('/static/css/appointments/list/list.css');
{% endblock %}

{% block script %}
	{% include "structure/setnav.html" with type="schedulingNav" %}
{% endblock %}

{% block title %}Shift Detail{% endblock %}

{% block content %}
<h1>Shift Details</h1>
<table class="listTable">
<tr>
	<td class="detailTitle">
	Employee ID:
	</td>
	<td class="detailData">
	{{ shift.employee_id }}
	</td>
</tr>
<tr>
	<td class="detailTitle">
	Starts:
	</td>
	<td class="detailData">
	{{ shift.start }}
	</td>
</tr>
<tr>
	<td class="detailTitle">
	Ends:
	</td>
	<td class="detailData">
	{{ shift.end }}
	</td>
</tr>
<tr>
	<td class="detailTitle">
	Duration:
	</td>
	<td class="detailData">
	{{ shift.get_duration }} hours
	</td>
</tr>
{% if app.special_considerations %}
<tr>
	<td class="detailTitle">
	Special Considerations:
	</td>
	<td class="detailData">
	{{ app.special_considerations }}
	</td>
</tr>
{% endif %}
<tr>
	<td class="detailLinks" colspan="2">
		<a class="button big primary" href="/schedule/">Back</a>
		{% if isMan %}
		&nbsp;&nbsp;&nbsp;
		<a class="button big primary" href="/schedule/{{ shift.id }}/edit">Edit</a>
		&nbsp;&nbsp;&nbsp;
		<a class="button big primary negative" href="/schedule/{{ shift.id }}/delete">Delete</a>
		{% endif %}
	</td>
</tr>
<tr>
	<td>
		<br/>
		
	</td>
</tr>
</table>
{% endblock %}
