/*====================*/
/*=== Reset Styles ===*/
/*====================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:100%;
	font-family:inherit;
	vertical-align:baseline;
}
body {
	line-height:1;
	color:black;
	background:white;
}
table {
	border-collapse:separate;
	border-spacing:0;
}
caption, th, td {
	text-align:left;
	font-weight:normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content:"";
}
blockquote, q {
	quotes:"" "";
}
/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
	display: block;
}


body { 
	height:100%;
	width:100%;
    background: -webkit-gradient(radial, 200 200, 0, 200 200, 450, from(#AAA), to(rgb(75,75,85))) no-repeat;
    background: -moz-radial-gradient(200px 200px, circle, #AAA, rgb(75,75,85) 450px ) no-repeat;
    background-color: #4B4B55;
    font-family: helvetica;
	font-weight: lighter;
	font-size:12px;
}
a {
	color:black;
	text-decoration: none;
}
ul.footerList {
	list-style-type:none; 
	margin-top:60px;
 	white-space:nowrap;
 	text-align:center;
}

ul.footerList li {
	color:black;
	font-size:17px;
	text-shadow: 0 1px 0px #555;
	display:inline;
	padding:5px;
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
}

ul.footerList > li:hover {
	background-color:rgba(200,200,255,.8);
	color:#222;
	text-shadow: 0 1px 2px #EEE;
}

.mainColumn {
	width:80%;
	margin: 10px 10% 0 18%;
	box-shadow: 0 0 5px 5px #333;
	min-height:400px;
}

.banner { 
    font-size: 65px;
    padding: 10px;
}
span.endeavour { 
	color: #EEE;
	text-shadow: 0px 2px 3px #333;
    font-family: helvetica;
    font-variant: small-caps;
    font-weight: lighter;	
    -webkit-transition: all .15s ease-in;
 	-moz-transition: all .15s ease-in;
}
span.endeavour:hover {
	text-shadow: 0px -2px 3px #333;
}
.documentsList { 
	list-style-type:none;
}
.documentsList > li {
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	padding: 10px;
	font-size:20px;	
	text-shadow: 0 1px 2px #EEE;
	color: #555;
}
.documentsList > li > a {
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
}
.documentslist > li:hover a {
	text-shadow: 0 1px 2px #555;
	color: #EEE;	
}
.documentsList > li:hover { 
	background-color:rgba(0,0,0,.5);
}

